<%= form_for :tacos, url: taco_heaven_path, html: {id: "taco_salsa_select"} do |f| %>
<div class="container">
  <div class="tacos">
    <h2 class="store-tacos">Tacos:</h2>
    <table>
    <% @tacos.each do |taco| %>
      <tr>
        <td>
          <%=  check_box_tag "taco_ids[]", taco.id %>
          <%= taco.name  %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="salsas">
    <h2 class="store-tacos">Salsas:</h2>
    <table>
    <% @salsas.each do |salsa| %>
      <tr>
        <td>
          <%=  check_box_tag  "salsa_ids[]", salsa.id %>
          <%= salsa.name  %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><br /></td>
    </tr>
    <tr>
      <th>&nbsp;<%= f.submit "Search" %></th>
    </tr>
    </table> 
<% end %>
  </div>
</div>
