<div class="row">
  <%= form_for :tacos, url: taco_heaven_path, html: {id: "taco_salsa_select"} do |f| %>
    <div class="small-6 large-offset-2 large-4 tacos columns">
      <h2 class="store-tacos">Tacos:</h2>
      <table>
        <% tacos.each do |taco| %>
          <tr>
            <td>
              <%=  check_box_tag "taco_ids[]", taco.id, false, class: 'checkbox_taco'%>
              <%= taco.name  %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="small-6 large-offset-2 large-4 columns salsas">
      <h2 class="store-tacos">Salsas:</h2>
      <table>
        <% salsas.each do |salsa| %>
          <tr>
            <td>
              <%=  check_box_tag  "salsa_ids[]", salsa.id %>
              <%= salsa.name  %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><br /></td>
        </tr>
        <tr>
          <td><%= f.submit "Search" %></td>
        </tr>
      </table>
    <% end %>
    </div>
</div>
